<?xml version="1.0" encoding="utf-8"?>
<settings>
	<AutoLayout value="0"/>
	<RenderWidth value="1024"/>
	<RenderHeight value="600"/>
	<RenderX value="0"/>
	<RenderY value="50"/>
	<FboWidth value="640"/>
	<FboHeight value="480"/>
	<OSCReceiverPort value="9001"/>
	<OSCDestinationPort value="7000"/>
	<OSCDestinationHost value="192.168.0.18"/>
	<OSCDestinationPort2 value="9000"/>
	<OSCDestinationHost2 value="127.0.0.1"/>
	<MIDIOpenAllInputPorts value="1"/>
	<ShowUI value="1"/>
	<CursorVisible value="1"/>
	<IsOSCSender value="1"/>
</settings>

